/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	color: black;
} */

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My css */

/* root */

:root {
	--black-color-: black;
}

/* copy */

.container-bg {
	background: linear-gradient( -180deg, #f53d2d, #f63) !important;
}

/* #ee4d2d */

.footer-child-1 {
	font-size: 12px;
}

.shopinfo-responsives {
	font-size: 14px;
}

.shop-avatar img {
	/* width: 80px;
	height: 80px; */
}

.fa-ellipsis-v {
	cursor: pointer;
}

/* chua co san pham */
.hero {
	display: none;
    position:relative;
    background-color:#e15915;
    height:320px !important;
    width:100% !important;
    margin-top: 100px;
}

.hero:before {
    content:'';
    position: absolute;
    bottom: 100%;
    left: 80%;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-bottom: solid 40px #e15915;
    border-left: solid 50px transparent;
    border-right: solid 50px transparent;
}

.hello:hover .hero {
	display: block;	
}
/* chua co san pham */

.footer-child-1 img {
	width: auto;
	height: auto;
}

.slider-for img {
	width: auto;
	height: auto;
}

.bold-700 {
	font-weight: 700;
	color: rgba(0, 0, 0, .54)
}

.font-14 {
	font-size: 14px;
}

.font-18 {
	font-size: 18px;
}

.flex-overr {
	display: flex !important;
}

.flex-overr-col {
	flex-direction: column !important;
}

.icon-appstore {
	justify-content: space-around;
}

.has-background-danger-dark, .has-text-danger-dark, .buymobile {
	background-color: #ee4d2d !important;
}

.shopee-color, .order-add {
	color: #ee4d2d !important;
}

.shopee-bg-color-green {
	background: #00bfa5;
}

.border-mobile {
	border: solid rgba(0, 0, 0, .09)!important;
	width: 1px;
}

.navtex {
	font-size: 13px !important;
}

.font-shopee, a, p {
	font-family: helvetica;
}

.order-add {
	background: rgba(255, 87, 34, .1);
	border: 1px solid #ee4d2d;
	box-shadow: 0 1px 1px 0 rgb(0 0 0 / 3%);
	padding: 15% 10% 15% 10%;
	;
	/* width: 10; */
}

.shop-chat-child {
	background: rgba(255, 87, 34, .1);
	border: 1px solid #ee4d2d;
	box-shadow: 0 1px 1px 0 rgb(0 0 0 / 3%);
	/* padding: 15% 10% 15% 10%;; */
}

#buy {
	color: #fff !important;
	background: #ee4d2d !important;
	/* padding: 0 58 0 58; */
	padding: 32% 80% 32% 80%;
}

/* background: linear-gradient( -180deg, #f53d2d, #f63); */

.fafafa-color {
	background-color: #fafafa;
}

.footer-vn-background {
	background-image: url(../image/tall.png);
}

.footer-vn-vn_registered_red-png {
	background-size: 637.5% 477.77777777777777%;
	background-position: 99.53488372093024% 67.05882352941177%;
}

.footer-vn-vn_registered_red-png {
	background-size: 637.5% 477.77777777777777%;
	background-position: 99.53488372093024% 67.05882352941177%;
}

.footer-vn-vn_no_fake_item-png {
	background-size: 1593.75% 447.9166666666667%;
	background-position: 89.5397489539749% 27.54491017964072%;
}

._1wvRVD {
	width: 7.5rem;
	height: 2.8125rem;
}

._258ry7 {
	width: 3rem;
	height: 3rem;
}

/* copy */

.text-decor-strike {
	text-decoration: line-through;
}

.navbar {
	background: transparent;
}

.border-r-grey {
	border-right: 2px solid hsla(0, 0%, 100%, .22);
}

.border-b-black {
	border-bottom: 1px solid black;
}

.border-b-red {
	border-bottom: 1px solid red;
}

.border-r-grey-dark {
	border-right: 2px solid #eaeaea;
}

.border-b-grey-dark {
	border-bottom: 2px solid #eaeaea;
}

.quantity-num {
	width: 50px;
}

.search-icon {
	position: relative;
	right: 66px;
	top: 3px;
	font-size: 16px;
	border-radius: 2px;
	padding: 9px;
	height: fit-content;
	padding-left: 24px;
	padding-right: 24px;
}

.dropdown-content {
	display: block;
	position: absolute;
	background-color: #f9f9f9;
	z-index: 1;
	max-height: 0%;
	max-width: 0%;
	/* transition: all 0.2s; */
}

.dropdown-content img {
	width: auto;
	height: auto;
}

.dropdown:hover .dropdown-content {
	max-height: 100%;
	max-width: 100%;
}

.dropdown-content-3dot {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	z-index: 1;
	right: 0px;
    /* top: 22px; */
}

#report {
    padding: 12px 24px 12px 24px;
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,.09);
    /* padding: .75rem 1.625rem; */
    box-shadow: 0 1px 5px 0 rgb(0 0 0 / 5%);
    color: rgba(0,0,0,.8);
    background-color: white;
	cursor: pointer;
	width: max-content;
}

.dropdown-3dot {
	position: relative;
	padding: 0 0px 0 0px;
}

.dropdown-3dot:hover .dropdown-content-3dot {
	/* display: block; */
}

.dropdown-notify {
	display: none;
	position: absolute;
	z-index: 1;
	max-height: 0%;
	max-width: 0%;
	transform: translate(-50%, 0%);
	transition: all 0.2s;
}

.notify-dropdown:hover .dropdown-notify {
	display: block;
	max-height: 100%;
	max-width: 100%;
	transform: translate(-50%, 0%);
}

.page-product {
	border-bottom: 4px solid #ee4d2d;
}

.slick-prev {
	left: 10px;
	z-index: 1;
}

.slick-next {
	right: 22px;
	z-index: 1;
}

.slick-prev:before {
	/* content: "<"; */
	color: grey;
	font-size: 30px;
}

.slick-next:before {
	/* content: ">"; */
	color: grey;
	font-size: 30px;
}

.full-height {
	height: 100%;
}

.full-width {
	width: 100%;
}

/* .slider-for {
	  padding-left: 10px;
  } */

/* .slider-for img, iframe{
	height: 100%;
	width: 110px;
} */

.slider-for-content {
	width: 128px !important;
}

.slider-for-content img:hover, iframe:hover {
	border: 1px solid red;
}

/* .conten-media {
	padding: 10px;
} */

.thumb iframe, img {
	width: 450px;
	height: 400px;
}

/* Use a media query to add a breakpoint at 800px: */

@media screen and (max-width: 769px) {
	/* Hidden */
	/* .container-bg, .path-item, .slider-for, .like-item-list, .quantity, .rating-panel, .page-product__content--right, .contentinfo, .pagination {
		display: none;
	} */

	.produc-mb {
		width: calc(33.33% - 5px) !important;
	}

	.top-sale {
		text-align: unset !important;
		/* font-size: 14px; */
	}

	.responsives-d1 {
		margin: 0px !important;
	}

	.responsives {		
		margin-bottom: 0px !important;
		padding-left: 84.6px !important;
	}
	.shopinfo {
		padding-right: 0px !important;
		border-right: unset !important;
	}
	.shopinfo .image {
		height: unset !important;
	}
	.shop-status {
		justify-content: space-between;
		width: 100%;
	}
	.shop-chat-path {
		padding-right: 0px !important;
	}
	.shop-chat-child1 {
		/* background: rgba(255, 87, 34, .1); */
		border: 1px solid #ee4d2d;
		box-shadow: 0 1px 1px 0 rgb(0 0 0 / 3%);
		color: #ee4d2d;
	}

	.responsives-mobile-up {
		flex-direction: row-reverse;
	}

	.responsives-mobile {
		display: flex;
		flex-direction: column-reverse;
		margin: 0px;
		justify-content: flex-end;
	}

	.responsives-mobile p {
		padding-top: 10px;
	}
	.sticky-menu-fade, .page-product, .sticky-bg-fa, .menu-ap-mobile, .sticky-bg-child {
		padding: 0 !important;
	}
	.sticky-menu-fade-child {
		width: 100%;
	}
	.appbtn {
		font-size: 0.75rem !important;
	}
	.shopee-color-mobile {
		color: #ee4d2d !important;
	}
	.page-product {
		padding-left: 74px;
		padding-right: 74px;
		padding-bottom: 12px;
	}
	.sticky-bg-child {
		padding: 0 62 0 62;
	}
	.buymobile p {
		font-size: 100% !important;
	}
	.center-all {
		display: flex;
		align-content: center;
		flex-direction: column;
		justify-content: center;
	}
	.page-product__content--left {
		padding-right: 0px;
	}
	.list-products {
		display: flex;
		flex-wrap: wrap;
	}
	.product-rating {
		padding: 12 0 12 0 !important;
	}
	.recommendation-by-carousel {
		padding: 10 12 10 12 !important;
	}
	.product-item {
		/* width: 350px !important; */
		/* height: 50% !important; */
		flex-basis: unset !important;
		flex-grow: unset !important;
		flex-shrink: unset !important;
	}
	.page-product {
		border-bottom: unset;
	}
	div.sticky {
		position: -webkit-sticky;
		position: fixed;
		bottom: 0px;
		width: 100%;
	}
	div.sticky-bg {
		/* background-color: yellow; */
		padding: 50px;
		font-size: 20px;
		/* display: flex; */
	}
	.sticky-bg p {
		font-size: 16px;
	}
	div.like-title {
		display: flex;
		padding-left: 12px;
	}
	.sticky-menu-fade {
		position: sticky;
		top: 0px;
		z-index: 1;
		background: transparent;
	}
	.sticky-menu-fade-child {
		justify-content: space-between;
		position: absolute;
		width: 100%;
	}
	.sticky-menu-fade-sil {
		justify-content: flex-end;
	}
	.round-button {
		border-radius: 15px;
	}
	.menu-ap-mobile, .sticky-menu-fade {
		padding: 0 74 0 74;
	}
	.chatmobile {
		width: 25%;
		/* border-right: 2px solid steelblue; */
		border-right: 1px solid rgba(0, 0, 0, .09)!important;
	}
	.addcartmobile {
		width: 25%;
		border-right: 1px solid rgba(0, 0, 0, .09)!important;
	}
	.buymobile {
		width: 50%;
	}
	.ratemobile {
		display: flex;
		justify-content: space-between !important;
	}
	.sale-mobile {
		width: 70%;
	}
	.star-mobile {
		width: 30%;
	}
	.star {
		display: flex;
		padding-left: 12px;
		padding-right: 12px;
		padding-bottom: 12px;
	}
	.delivery-type1, .delivery-destination-cost, .delivery-type2 {
		display: flex;
	}
	.flex-mobile {
		display: flex;
	}
	.comment {
		display: flex !important;
	}
	.avatar-cmt {
		width: fit-content !important;
		height: fit-content !important;
		flex-basis: fill;
		flex-basis: max-content !important;
		flex-basis: min-content !important;
		flex-basis: fit-content !important;
		flex-basis: unset !important;
		flex-grow: unset !important;
		flex-shrink: unset !important;
	}
	.avatar-cmt img {
		width: 32px !important;
		height: 32px !important;
	}
	.hidden-mobile {
		display: none;
	}
	.morebutton, .lessbutton, .morebutton-cmt {
		justify-content: center;
		padding: 20 0 12 0;
		border-top: 2px solid #dbdbdb;
		color: #ee4d2d;
	}
	.lessbutton {
		border-top: unset;
	}
	.comment-mobile {
		justify-content: space-between;
	}
	.comment-info {
		padding-right: 12px !important;
	}
	.rating-list {
		font-size: 14px;
	}
	.fa-star {
		color: #ffba1e !important;
	}
	/* button ontop */
	#myBtn {
		display: none;
		position: fixed;
		bottom: 70px;
		right: 5px;
		z-index: 99;
		font-size: 40px;
		border: none;
		outline: none;
		background-color: transparent;
		/* background-color: linear-gradient(
    to bottom,
    red,
    rgba(255, 0, 0, 0)
  ); */
		color: #ee4d2d;
		cursor: pointer;
		padding: 15px;
		border-radius: 4px;
	}
	#myBtn:focus {
		background-color: transparent;
	}
	#myBtn:active {
		background-color: transparent;
	}
	/* #myBtn:hover {
		background-color: #555;
	} */
	/* button ontop */
}

@media screen and (max-width: 541px) {
	.like-title-child3 {
		display: none;
	}
	.appbtn {
		font-size: 0.65rem !important;
	}
	.product-item {
		width: 47% !important;
		/* height: 50% !important; */
		flex-basis: unset !important;
		flex-grow: unset !important;
		flex-shrink: unset !important;
	}
	.sticky-bg-fa p {
		font-size: 12px !important;
	}
	.menu-ap-mobile {
		padding: 0;
	}
	.sticky-menu-fade {
		padding: 0;
	}
	.sticky-menu-fade-child {
		width: 100%;
	}
	.page-product {
		padding-left: 0px;
		padding-right: 0px;
		padding-bottom: 12px;
	}
	.sticky-bg-child {
		padding: 0 0 0 0;
	}
	.sticky-bg-fa {
		padding: 0 !important;
	}
	.like-title-child1 {
		font-size: 12px !important;
	}
	.like-title-child2 {
		font-size: 16px !important;
		/* padding-left: 0px !important; */
	}
	.like-title-child3 {
		font-size: 11px !important;
		position: absolute;
		width: 7%;
		right: 2%;
		top: 6.8%;
		background-color: #fcd511 !important;
	}
	.product-all {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
}

@media screen and (max-width: 447px) {
	.menu-ap-mobile p {
		font-size: 1.1rem !important;
	}
	.menu-ap-mobile {
		padding: 0;
	}
	.sticky-menu-fade {
		padding: 0;
	}
	.sticky-menu-fade-child {
		width: 100%;
	}
	.page-product {
		padding-left: 0px;
		padding-right: 0px;
		padding-bottom: 12px;
	}
	.sticky-bg-child {
		padding: 0 0 0 0;
	}
	.sticky-bg-fa {
		padding: 0 !important;
	}
	.sticky-bg-fa p {
		font-size: 10px !important;
	}
}

@media screen and (max-width: 415px) {
	.menu-ap-mobile p {
		font-size: 0.85rem !important;
	}

	.shop-chat-child1 {
		font-size: 0.8rem !important;
	}
}
