/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	color: black;
} */

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My css */

/* root */

:root {
	--black-color-: black;
}

/* mini game start*/
/* #ctn {
	background-color: #dbdbdb;
} */
.padding-x {
	padding-left: 65px !important;
    padding-right: 40px !important;
}
.m-game {
  width: 600px;
  height: 600px;
  margin: auto;
  position: relative;
  /* padding: 20 0 20 0; */
}
.m-game__wrapper {
  display: block;
  width: 100%;
  position: relative;
  z-index: 1;
  padding-bottom: 100%;
  border-radius: 50%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  transition: transform 1s cubic-bezier(0.25, 0.1, 0, 1);
}
.m-game__bg {
  width: 100%; /*default: 100*/
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.m-game__start {
  display: block;
  width: 20%;
  height: 20%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  cursor: pointer;
  transition: 0.3s;
}
.m-game__start:hover {
  transform: translate(-50%, -50%) scale(1.1);
}
.m-game__start img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}
.m-game__text {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
  font-size: 24px;
  transform-origin: 0 50%;
  padding-left: 3%;
}
.m-game__text:nth-child(1) {
  transform: translateY(-50%) rotate(-30deg);
}
.m-game__text:nth-child(2) {
  transform: translateY(-50%) rotate(-90deg);
}
.m-game__text:nth-child(3) {
  transform: translateY(-50%) rotate(-150deg);
}
.m-game__text:nth-child(4) {
  transform: translateY(-50%) rotate(-210deg);
}
.m-game__text:nth-child(5) {
  transform: translateY(-50%) rotate(-270deg);
}
.m-game__text:nth-child(6) {
  transform: translateY(-50%) rotate(-330deg);
}
/* mini game end */

/* copy */

.container-bg {
	background: white !important;
}

/* #ee4d2d */

.footer-child-1 {
	font-size: 12px;
}

.shopinfo-responsives {
	font-size: 14px;
}

.shop-avatar img {
	/* width: 80px;
	height: 80px; */
}

.fa-ellipsis-v {
	cursor: pointer;
}

/* chua co san pham */

.hero {
	display: none;
	position: relative;
	background-color: #e15915;
	height: 320px !important;
	width: 100% !important;
	margin-top: 100px;
}

.hero:before {
	content: '';
	position: absolute;
	bottom: 100%;
	left: 80%;
	right: 0;
	margin: 0 auto;
	width: 0;
	height: 0;
	border-bottom: solid 40px #e15915;
	border-left: solid 50px transparent;
	border-right: solid 50px transparent;
}

.hello:hover .hero {
	display: block;
}

/* chua co san pham */

.footer-child-1 img {
	width: auto;
	height: auto;
}

.slider-for img {
	width: auto;
	height: auto;
}

.bold-700 {
	font-weight: 700;
	color: rgba(0, 0, 0, .54)
}

.font-14 {
	font-size: 14px;
}

.font-18 {
	font-size: 18px;
}

.flex-overr {
	display: flex !important;
}

.flex-overr-col {
	flex-direction: column !important;
}

.icon-appstore {
	justify-content: space-around;
}

.has-background-danger-dark, .has-text-danger-dark, .buymobile {
	background-color: #ee4d2d !important;
}

.shopee-color, .order-add {
	color: #ee4d2d !important;
}

.shopee-bg-color-green {
	background: #00bfa5;
}

.shopee-bg-color-ogran {
	background-color: #ee4d2d;
}

.border-mobile {
	border: solid rgba(0, 0, 0, .09)!important;
	width: 1px;
}

.navtex {
	font-size: 13px !important;
}

.font-shopee, a, p {
	font-family: helvetica;
}

.order-add {
	background: rgba(255, 87, 34, .1);
	border: 1px solid #ee4d2d;
	box-shadow: 0 1px 1px 0 rgb(0 0 0 / 3%);
	padding: 15% 10% 15% 10%;
	;
	/* width: 10; */
}

.shop-chat-child {
	background: rgba(255, 87, 34, .1);
	border: 1px solid #ee4d2d;
	box-shadow: 0 1px 1px 0 rgb(0 0 0 / 3%);
	/* padding: 15% 10% 15% 10%;; */
}

#buy {
	color: #fff !important;
	background: #ee4d2d !important;
	/* padding: 0 58 0 58; */
	padding: 32% 80% 32% 80%;
}

/* background: linear-gradient( -180deg, #f53d2d, #f63); */

.fafafa-color {
	background-color: #fafafa;
}

.footer-vn-background {
	background-image: url(../image/tall.png);
}

.footer-vn-vn_registered_red-png {
	background-size: 637.5% 477.77777777777777%;
	background-position: 99.53488372093024% 67.05882352941177%;
}

.footer-vn-vn_registered_red-png {
	background-size: 637.5% 477.77777777777777%;
	background-position: 99.53488372093024% 67.05882352941177%;
}

.footer-vn-vn_no_fake_item-png {
	background-size: 1593.75% 447.9166666666667%;
	background-position: 89.5397489539749% 27.54491017964072%;
}

._1wvRVD {
	width: 7.5rem;
	height: 2.8125rem;
}

._258ry7 {
	width: 3rem;
	height: 3rem;
}

/* copy */

.text-decor-strike {
	text-decoration: line-through;
}

.navbar {
	background: transparent;
}

.border-r-grey {
	border-right: 2px solid hsla(0, 0%, 100%, .22);
}

.border-b-black {
	border-bottom: 1px solid black;
}

.border-b-red {
	border-bottom: 1px solid red;
}

.border-r-grey-dark {
	border-right: 2px solid #eaeaea;
}

.border-b-grey-dark {
	border-bottom: 2px solid #eaeaea;
}

.quantity-num {
	width: 50px;
}

.search-icon {
	position: relative;
	right: 66px;
	top: 3px;
	font-size: 16px;
	border-radius: 2px;
	padding: 9px;
	height: fit-content;
	padding-left: 24px;
	padding-right: 24px;
}

.dropdown-content {
	display: block;
	position: absolute;
	background-color: #f9f9f9;
	z-index: 1;
	max-height: 0%;
	max-width: 0%;
	/* transition: all 0.2s; */
}

.dropdown-content img {
	width: auto;
	height: auto;
}

.dropdown:hover .dropdown-content {
	max-height: 100%;
	max-width: 100%;
}

.dropdown-content-3dot {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	z-index: 1;
	right: 0px;
	/* top: 22px; */
}

#report {
	padding: 12px 24px 12px 24px;
	border-radius: 2px;
	border: 1px solid rgba(0, 0, 0, .09);
	/* padding: .75rem 1.625rem; */
	box-shadow: 0 1px 5px 0 rgb(0 0 0 / 5%);
	color: rgba(0, 0, 0, .8);
	background-color: white;
	cursor: pointer;
	width: max-content;
}

.dropdown-3dot {
	position: relative;
	padding: 0 0px 0 0px;
}

.dropdown-3dot:hover .dropdown-content-3dot {
	/* display: block; */
}

.dropdown-notify {
	display: none;
	position: absolute;
	z-index: 1;
	max-height: 0%;
	max-width: 0%;
	transform: translate(-50%, 0%);
	transition: all 0.2s;
}

.notify-dropdown:hover .dropdown-notify {
	display: block;
	max-height: 100%;
	max-width: 100%;
	transform: translate(-50%, 0%);
}

.page-product {
	border-bottom: 4px solid #ee4d2d;
}

.slick-prev {
	left: 10px;
	z-index: 1;
}

.slick-next {
	right: 22px;
	z-index: 1;
}

.slick-prev:before {
	/* content: "<"; */
	color: grey;
	font-size: 30px;
}

.slick-next:before {
	/* content: ">"; */
	color: grey;
	font-size: 30px;
}

.full-height {
	height: 100%;
}

.full-width {
	width: 100%;
}

/* .slider-for {
	  padding-left: 10px;
  } */

/* .slider-for img, iframe{
	height: 100%;
	width: 110px;
} */

.slider-for-content {
	width: 128px !important;
}

.slider-for-content img:hover, iframe:hover {
	border: 1px solid red;
}

/* .conten-media {
	padding: 10px;
} */

.thumb iframe, img {
	width: 450px;
	height: 400px;
}

/* Register page begin */

.register-section {
	background-image: url(../image/register-bg.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 40 0 40 0 !important;
}

.register-form {
	/* margin: 10 10 10 0; */
	margin-top: 6rem;
	margin-bottom: 6rem;
	margin-right: 6rem;
	padding: 2rem 1.5rem 2rem 1.5rem;
	border-radius: 5px;
	min-width: 401px;
}

.center-all {
	display: flex !important;
	align-content: center !important;
	flex-direction: column !important;
	justify-content: center !important;
}

.border-grey-line {
	height: 1px;
	width: 100%;
	background-color: #dbdbdb;
	/* -webkit-box-flex: 1; */
}

.btn-login {
	border: none;
	opacity: .7;
	cursor: not-allowed;
}

.btn-facebook, .btn-google, .btn-apple {
	/* background-color: #1877f2; */
	color: #f9f9f9;
	font-size: 14px;
	font-weight: 700;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	width: calc(33% - 5px);
}

.btn-facebook {
	background-color: #1877f2;
}

.btn-google {
	padding-left: 2px !important;
	background-color: #1877f2;
}

.btn-apple {
	background-color: black;
}

.BnBJFp {
	width: 2.25rem;
	height: 2.25rem;
	border-radius: 1px;
	-webkit-box-align: center;
	align-items: center;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
}

.btn-facebook:hover {
	opacity: .91;
}

.mg-auto {
	margin: auto !important;
}

.d-flex {
	display: flex !important;
}

.a-i-center {
	align-items: center;
}

.status-user, .status-pass {
	min-height: 1.5rem;
}

.social-white-fb-png {
	background-size: 372% 232%;
	background-position: 76.47058823529412% 15.151515151515152%;
}

.social-white-google-png {
	background-size: 516.6666666666666% 322.22222222222223%;
	background-position: 100% 100%;
}

.social-white-background {
	background-image: url(../image/logo.png);
}

.social-white-apple-png {
	background-size: 290.625% 181.25%;
	background-position: 8.19672131147541% 19.23076923076923%;
}

._30SGUu {
	width: 1.375rem;
	height: 1.375rem;
}

.pass-input-warp, .user-warp {
	border: 1px solid;
	border-color: gray;
	border-radius: 3px;
}

.pass-input-warp:focus-within, .user-warp:focus-within {
	border: 1px solid;
	border-color: black;
	border-radius: 3px;
}

#pass-input, #user-input {
	border: none;
	outline: none;
}

#show-pass {
	display: none;
}

/* register page end */

/* Use a media query to add a breakpoint at 800px: */

@media screen and (max-width: 1023px) {
	.border-grey-line {
		width: 28% !important;
	}
	.border-y {
		background-color: #4a4a4a;
		height: 1rem !important;
		padding: 0 0 0 1px;
		margin: 0 10 0 10;
	}
	.pass-input-warp:focus-within, .user-warp:focus-within {
		border-left: none;
		border-right: none;
		border-top: none;
	}
	.pass-input-warp, .user-warp {
		border-left: none;
		border-right: none;
		border-top: none;
	}
	.helper {
		text-align: end !important;
		/* width: auto !important; */
	}
	.helper a {
		color: black !important;
	}
	.shopee-top {
		background-color: #fff;
		box-shadow: 0 0 6px 0 rgb(0 0 0 / 6%);
	}
	.barwarp {
		padding-left: 0.75rem !important;
		width: 70%;
	}
	.header-with-search-warpper {
		padding-left: 0.75rem !important;
		padding-right: 0.75rem !important;
	}
	.header-with-search-warp {
		width: auto !important;
	}
	.d-flex-mobile {
		display: block !important;
	}
	
	.register-form {
		margin: auto !important;
		padding: auto !important;
		width: 70%;
	}
	.register-warp {
		width: 100% !important;
	}
	.contentinfo {
		display: none;
	}
	.register-section {
		background: none;
	}
	.full-w-mobile {
		width: 100%;
	}
	.btn-facebook, .btn-google, .btn-apple {
		width: 100% !important;
		margin-top: 10px !important;
	}
}

@media screen and (max-width: 640px) {
	.barwarp, .register-form {
		width: 100% !important;
	}
}

@media screen and (max-width: 402px) {
	.register-form {
		min-width: unset !important;
	}
}

