/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* my ccs */

.container-fluid {
	text-align: -webkit-center !important;
	min-height: -webkit-fill-available !important;
}

.bg-primary {
	background-color: #003056 !important;
}

.color-blue {
	color: #003056 !important;
}

.border-blue {
	border-color: #003056 !important;
}

.color-gold {
	color: #c5a66d !important;
}

html, body {
	height: 100%;
}

.full-height {
	height: 100%;
}

.tradingview-widget-container {
	height: 60%;
	width: 100%
}

.btn-edit {
	position: absolute;
	right: 20;
	top: 30;
	font-weight: bold;
	border-color: lightgrey;
}

.btn-add {
	position: absolute;
	right: 20;
	top: 17;
	font-weight: bold;
	border-color: lightgrey;
}

.btn-update {
	font-weight: bold;
	border-color: lightgrey;
}

.btn-update:hover, .btn-add:hover, .btn-edit:hover {
	background-color: lemonchiffon;
	color: lightcoral;
}

.btn-update:focus, .btn-add:focus, .btn-edit:focus {
	outline: none;
}

input {
	width: 80%;
	height: 32px;
	border-radius: 10px;
	outline: none;
}

.type, .brand {
	width: inherit;
}

/* responsive */

@media screen and (min-height: 1679px) {
	/*1050 - 1680*/
	.scroll-height {
		height: 60vh;
	}
	.banner {
		height: 26vh;
	}
	.menu {
		height: 6vh;
	}
	.tradingview-widget-container {
		height: 17vh;
		width: 100%
	}
	.h5, .h3, .h1 {
		font-size: 230% !important;
	}
	.display-4, .h4 {
		font-size: 225% !important;
	}
}

@media screen and (min-width: 1921px) {
	.h5, .h3, .h1 {
		font-size: 325% !important;
	}
	.display-4, .h4 {
		font-size: 360% !important;
	}
	.scroll-height {
		height: 65vh;
	}
	.tradingview-widget-container {
		height: 15vh;
		width: 100%
	}
	.banner {
		height: 21vh;
	}
}

@media screen and (min-width: 2561px) {
	.h5, .h3, .h1 {
		font-size: 530% !important;
	}
	.display-4, .h4 {
		font-size: 850% !important;
	}
}

@media screen and (max-width: 900px) {
	.date-time {
		flex-direction: column !important;
	}
	.hidden-mobile {
		display: none !important;
	}
	.display-4 {
		font-size: 200% !important;
	}
	.h4 {
		font-size: 100% !important;
	}
	.scroll-height {
		height: auto !important;
	}
	.banner {
		height: auto !important;
	}
	.menu {
		height: auto;
	}
}

@media screen and (max-width: 550px) {
	.h5, .h3 {
		font-size: 100% !important;
	}
	.display-4, .h4 {
		font-size: 100% !important;
	}
	.btn-update, .btn-add, .btn-edit {
		display: none;
	}
}

@media screen and (max-width: 465px) {
	.h3, .h1 {
		font-size: 100% !important;
	}
	.h5 {
		font-size: 75% !important;
	}
	.display-4, .h4 {
		font-size: 70% !important;
	}
}

@media screen and (max-width: 350px) {
	.h5 {
		font-size: 50% !important;
	}
}
